﻿@model Library.ViewModels.Users.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
<form asp-action="Edit" asp-controller="Users">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div>
        <label asp-for="Email">Email</label><br />
        <input type="text" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Year">Год рождения</label><br />
        <input type="number" asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>