﻿@model Library.ViewModels.Books.AllBookListViewModel
<h3>@Model.Name</h3>
<div>
    <img class="img-thumbnail" width="150" height="150" src="@Model.Img" alt="@Model.Name" />
    <h1>Автор: @Model.Author</h1>
    <h1>Издательство @Model.Publisher</h1>
    <span>Опиание @Model.Desc</span>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("user") && Model.Availabile == true)
        {
            <a class="btn btn-outline-success" asp-controller="Order" asp-action="Ordered" asp-route-bookId="@Model.Id">Забронировать</a>
        }
    }
</div>