﻿@model List<Library.ViewModels.Books.AllBookListViewModel>
<h1>Все книги</h1>
<table class="table">
    <tr>
        <td>Картинка</td>
        <td>Название</td>
        <td>Автор</td>
        <td>Издательство</td>
    </tr>
    @{
        foreach (var book in Model)
        {
            <tr>
                <td><img class="img-thumbnail" width="80" height="80" src="@book.Img" alt="@book.Name" /></td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td><a class="btn btn-outline-primary" asp-controller="Books" asp-action="CurrentBook" asp-route-bookId="@book.Id">Подробнее</a></td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("user") && book.Availabile == true)
                    {
                        <td><a class="btn btn-success" asp-controller="Order" asp-action="Ordered" asp-route-bookId="@book.Id">Забронировать</a></td>
                    }
                }
            </tr>
        }
    }
</table>