﻿@model AddBookViewModel
<h2>Добавление новой книги</h2>
<form method="post" asp-controller="Librarian" asp-action="AddBook">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Desc"></label><br />
        <input asp-for="Desc" />
        <span asp-validation-for="Desc"></span>
    </div>
    <div>
        <label asp-for="Img"></label><br />
        <input asp-for="Img" />
        <span asp-validation-for="Img"></span>
    </div>
    <div>
        <label asp-for="Author"></label><br />
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>
    <div>
        <label asp-for="Publisher"></label><br />
        <input asp-for="Publisher" />
        <span asp-validation-for="Publisher"></span>
    </div>
    <div>
        <label asp-for="GenreId">Жанр</label>
        <select asp-for="GenreId" asp-items="ViewBag.Genres"></select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>