﻿@model IEnumerable<Library.DataBase.Entities.Split>
@{
    ViewBag.Title = "Список книг";
}


<table class="table">
    <tr><th>E-mail</th><th>Номер телефона</th><th>Название книги</th><th>Автор</th><th>Издательство</th><th>Время бронирования</th><th>Статус книги</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Order.ClientName</td>
            <td>@item.Order.Phone</td>
            <td>@item.Book.Name</td>
            <td>@item.Book.Author</td>
            <td>@item.Book.Publisher</td>
            <td>@item.Order.OrderTime</td>
            @if (item.Book.Availabile && !item.Book.IsGiven)
            {
                <td>Возвращён</td>
            }
            else if (!item.Book.Availabile && item.Book.IsGiven)
            {
                <td>Выдан</td>
            }
            else if (!item.Book.Availabile && !item.Book.IsGiven)
            {
                <td>Не выдан</td>
            }
            else
            {
                <td>Время брони истекло</td>
            }
        <td>
            @if (!item.Book.Availabile && !item.Book.IsGiven)
            {
                <form asp-controller="Librarian" asp-action="GiveBook" asp-route-bookId="@item.Book.Id">
                    <button type="submit" class="btn btn-outline-primary">
                        Выдать
                    </button>
                </form>
            }
            else if(!item.Book.Availabile && item.Book.IsGiven)
            {
                <form asp-controller="Librarian" asp-action="TakeBackBook" asp-route-bookId="@item.Book.Id">
                    <button type="submit" class="btn btn-outline-primary">
                        Забрать
                    </button>
                </form>
            }
            else
            {
                <form asp-controller="Librarian" asp-action="DeleteOrder" asp-route-bookId="@item.Book.Id" asp-route-orderId="@item.Order.Id">
                    <button type="submit" class="btn btn-outline-danger">
                        Удалить
                    </button>
                </form>
            }
        </td>
        </tr>
    }
</table>