﻿@model EditBookViewModel
@{
    ViewBag.Title = "Редактирование книги";
}
<form asp-action="EditBook" asp-controller="Librarian">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название книги</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Desc" class="control-label">Описание</label>
        <input type="text" asp-for="Desc" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Publisher" class="control-label">Издательство</label>
        <input type="text" asp-for="Publisher" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Img" class="control-label">Картинка</label>
        <input type="text" asp-for="Img" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>