﻿@model List<Library.ViewModels.Books.AllBookListViewModel>
@{
    ViewBag.Title = "Библиотека";
}

<a class="btn btn-sm btn-outline-success" asp-action="AddBook">Добавить новую книгу</a>

<table class="table">
    <tr><th>Картинка</th><th>Название</th><th>Автор</th><th>Издательство</th></tr>
    @foreach (var book in Model)
    {
        <tr>
            <td><img class="img-thumbnail" width="80" height="80" src="@book.Img" alt="@book.Name" /></td>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>@book.Publisher</td>
            <td>
                <form asp-action="DeleteBook" asp-route-bookid="@book.Id">
                    <a class="btn btn-sm btn-outline-primary" asp-action="EditBook" asp-route-bookid="@book.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>