﻿@model IEnumerable<Library.DataBase.Entities.Split>
<table class="table">
    @if (User.Identity.IsAuthenticated)
    {
        <tr>
            <td>Имя</td>
            <td>Почта</td>
            <td>Телефон</td>
            <td>Время заказа</td>
            <td>Название книги</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Order.ClientName</td>
                <td>@item.Order.Email</td>
                <td>@item.Order.Phone</td>
                <td>@item.Order.OrderTime</td>
                <td>@item.Book.Name</td>

                <td>
                    <form asp-controller="Order" asp-action="DeleleteOrder" asp-route-orderId="@item.Order.Id" asp-route-bookId="@item.Book.Id">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Отменить бронирование
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <a class="nav-link" asp-controller="Account" asp-action="LoginOrReg">Войти/Регистрация</a>
    }

</table>