﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/customElementStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color:darkmagenta">
            <a class="navbar-brand nav-item text-light" href="/">Библиотека</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <select onchange="window.location.href = this.options[this.selectedIndex].value">
                        <option value="" hidden>Жанры</option>
                        <option value="/Books/List/1">Фантастика</option>
                        <option value="/Books/List/4">Романы</option>
                        <option value="/Books/List/2">Детектив</option>
                        <option value="/Books/List/5">Поэзия</option>
                    </select>
                    <form asp-controller="Books" asp-action="Index">
                        <p class="text-light">
                            <input type="text" placeholder="Искать здесь..." name="searchString" />
                            <input type="radio" name="category" value="name" checked />
                            <label>По названию</label>
                            <input type="radio" name="category" value="author" />
                            <label>По автору</label>
                            <input type="radio" name="category" value="publisher" />
                            <label>По издателю</label>
                            <input type="submit" value="Поиск" />
                        </p>
                    </form>
                </div>
                <form class="form-inline mt-2 mt-md-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("admin"))
                        {
                            <a class="navbar-brand nav-item text-light" asp-controller="Users" asp-action="Index">Пользователи</a>
                            <a class="navbar-brand nav-item text-light" asp-controller="Roles" asp-action="Index">Роли</a>
                        }
                        else if (User.IsInRole("librarian"))
                        {
                            <a class="navbar-brand nav-item text-light" asp-controller="Librarian" asp-action="AllOrders">Заказы</a>
                            <a class="navbar-brand nav-item text-light" asp-controller="Librarian" asp-action="Index">Список книг</a>
                        }
                        @if (User.IsInRole("user"))
                        {
                            <a class="navbar-brand nav-item text-light" asp-controller="Order" asp-action="MyOrders">Мои книги</a>

                        }
                        <a class="navbar-brand" style="font-style:italic"><b>@User.Identity.Name.Substring(0, User.Identity.Name.LastIndexOf('@'))</b></a>
                        <form method="post" asp-controller="Account" asp-action="LogOut">
                            <button type="submit" class="btn btn-outline-danger">
                                Выйти
                            </button>
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-outline-light" asp-controller="Account" asp-action="Login">Войти</a>
                        <a class="btn btn-outline-light" asp-controller="Account" asp-action="Register">Регистрация</a>
                    }
                </form>
            </div>
        </nav>
    </header>
    <div class="container" mt-5>
        @RenderBody()
    </div>
    <script scr="~/js/bootstrap.min.js"></script>
</body>
</html>